
/* Your CSS Code here. */
.holder{
	display: flex;
	width: 100vw;
	height: 100vh;
}
.item {
  width: 100px;
  height: 100px;
  background-color: red;
}
.item-1 {
  background-color: red;
  color: white;
}

