
/* Your CSS Code here. */
.holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set height to 100% to take full viewport height */
  width: 100vw; /* Set width to 100% to take full viewport width */
}

.item {
  flex-basis: 100px; /* Set width to 100px */
  height: 100px; /* Set height to 100px */
  background-color: red;
}